a {
    text-decoration: none;
    color: #858585;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.5em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
}
h2 {
    font-size: 1.2em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
}
h3 {
    font-size: 0.9em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
    margin-left: 0.1rem;
    font-style: italic;
}
p {
    font-size: 0.9em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .5em;
}

ul.posts { 
    margin: 1rem auto 1rem; 
    padding-left: 1rem;
    font-size: 1em;
}

ul.posts li {
    font-size: 1em;
    list-style: none;
}

.PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
}

.PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}

.PageNavigation .next {
    text-align: right;
}
hr {
    display: block;
    border: 0;
    border-top: 2px solid #ccc;
    padding: 0;
    color: #091a3a;
}
html, body {
    margin: 0;
    height: 100%;
    background-image: url("/assets/phylogeny.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}
.inline-block {
   display: inline-block;
}
li {
    font-size:0.9em;
}
hr.title {
    border-top: 3px double #ccc;
    text-align: center;
    margin-top: 5px;
}