a {
    text-decoration: none;
    color: #858585;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.5em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
}
h2 {
    font-size: 1.2em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
}
h3 {
    font-size: 0.9em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
    margin-left: 0.1rem;
    font-style: italic;
}
p {
    font-size: 0.9em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .5em;
}

ul.posts { 
    margin: 1rem auto 1rem; 
    padding-left: 1rem;
    font-size: 1em;
}

ul.posts li {
    font-size: 1em;
    list-style: none;
}

.PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
}

.PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}

.PageNavigation .next {
    text-align: right;
}
hr {
    display: block;
    border: 0;
    border-top: 2px solid #ccc;
    padding: 0;
    color: #091a3a;
}
html, body {
    margin: 0;
    height: 100%;
    background-image: url("/assets/phylogeny.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}
.inline-block {
   display: inline-block;
}
li {
    font-size:0.9em;
}
hr.title {
    border-top: 3px double #ccc;
    text-align: center;
    margin-top: 5px;
}

/* Overlay Stuff */
.tile {
  float: left;
  width: 180px;
}
.tilephoto {
  border-radius: 5%;
  border: solid #858585 1px;
}
.overlayText {
  color: white;
  font-size: 0.7em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.tile:hover .overlay-tile {
  opacity: 0.8;
}
.overlay-tile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  border-radius: 5%;
  background-color: #000000;
  transition: all 0.3s ease-in-out 0s;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.overlayWrap-tile {
  position: relative;
  margin: 0.1em;
}