<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/about">About</a>
      <a class="sidebar-nav-item" href="/blog">Blog</a>
      <a class="sidebar-nav-item" href="/projects">Projects</a>
      <a class="sidebar-nav-item" href="/publications">Publications</a>
      <br>
      <a href="https://github.com/mattravenhall"><i class="fa fa-github" aria-hidden="true"></i></a> | 
      <a href="https://twitter.com/mattravenhall/"><i class="fa fa-twitter" aria-hidden="true"></i></a> | 
      <a href="https://www.linkedin.com/in/matt-ravenhall-98a17139/"><i class="fa fa-linkedin" aria-hidden="true"></i></a> | 
      <a href="/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i></a>
      <span class="sidebar-nav-item"></span>
    </nav>
  </div>
</div>