<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/">Home</a>
      <a class="sidebar-nav-item" href="/about">About</a>
      <a class="sidebar-nav-item" href="/blog">Blog</a>
      <a class="sidebar-nav-item" href="/projects">Projects</a>
      <a class="sidebar-nav-item" href="/publications">Publications</a>
      <br>
      <a href="https://github.com/mattravenhall">Github</a> | <a href="https://twitter.com/mattravenhall/">Twitter</a></li> | <a href="https://www.linkedin.com/in/matt-ravenhall-98a17139/">LinkedIn</a></p>
      <span class="sidebar-nav-item"></span>
    </nav>
  </div>
</div>