<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="/">
          {{ site.title }}
        </a>
      </h1>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/blog">Posts</a>
      <a class="sidebar-nav-item" href="/projects">Projects</a>
      <a class="sidebar-nav-item" href="/publications">Publications</a>
      <br>
      <a href="https://orcid.org/0000-0002-7818-2348"><i class="fa-brands fa-orcid" aria-hidden="true"></i></a> | 
      <a href="https://github.com/mattravenhall"><i class="fa-brands fa-github" aria-hidden="true"></i></a> | 
      <a href="https://mattravenhall.bsky.social"><i class="fa-brands fa-bluesky" aria-hidden="true"></i></a> |
      <!-- <a href="https://mstdn.social/@mattravenhall" rel="me"><i class="fa-brands fa-mastodon" aria-hidden="true"></i></a> |  -->
      <a href="https://mattravenhall.itch.io/"><i class="fa-brands fa-itch-io" aria-hidden="true"></i></a> |
      <a href="https://www.linkedin.com/in/matt-ravenhall-98a17139/"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a> | 
      <a href="/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i></a>
      <span class="sidebar-nav-item"></span>
    </nav>
  </div>
</div>
